<h1>Login using this form:</h1>

<form class="sign-in">
  <div>
    <label for="username-signin">username:</label>
    <input type="text" id="username-signin" />
  </div>
  <div>
    <label for="password-signin">password:</label>
    <input type="password" id="password-signin" />
  </div>
  <div>
    <button type="submit">signin</button>
  </div>
</form>